@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: #FAFAFA !important;
}
.fs-18{
  font-size: 18px;
}
.fs-20{
  font-size: 20px;
}
.fs-30{
  font-size: 30px;
}
.fs-26{
  font-size: 26px;
}
.angkor{
  cursor: pointer;
  text-decoration: none;
  color: #878787;
}
.fs-14{
  font-size: 14px;
}
.fs-12{
  font-size: 12px;
}
.fs-11{
  font-size: 11px;
}
.tomato{
  color: rgb(255, 75, 43);
}
.red{
  color: red !important;
}
.bg-brown{
  background : #EFF6FA !important;
}
.text-main{
  color: #3d9971;
}
.w-20{
  width: 20px;
}
.w-26{
  width: 26px;
}
.w-36{
  width: 36px;
}
.w-15{
  width: 15px;
}
.fw-550{
  font-weight: 550;
}
.pointer{
  cursor : pointer ;
}
.z-20{
  z-index:20;
}
.z-200{
  z-index:200;
}
.color-rating{
  color: rgb(255, 187, 0);
}
.text-clamp-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.text-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.black{
  color: rgb(184, 184, 184);
}
.max-width{
  max-width: 1200px;
  margin: auto !important;
}